<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br><br><br><br>
    <h1 class="display-4" style="color:white; font-size: 80px;">Welcome Laundrers</h1>
    <p class="lead" style="color:white; font-size: 35px;">Get your clothes washed cheaper, cleaner and faster.</p>
    <p>This an online platform promoting you to launder you clothes online saving time and at very affordable rates hence saving the money</p>
  </div>
</div>
<div class="flex-cards">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="p3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 18rem;">
      <img src="p3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 18rem;">
      <img src="p3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card" style="width: 18rem;">
      <img src="p3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

